

/* regole di header bs */
header .navbar-default{
  background-color: #2c3e50;
  min-height: 100px;
  border: none;
  margin-bottom: 100px;
}

header .navbar-default .navbar-brand, header .navbar-default .navbar-right li a {
  color: white;
  padding-top: 40px;
}

header .navbar-default .navbar-brand{
  padding-left: 70px;
  font-weight: 700;
  font-size: 2em;
}

header .navbar-default .navbar-right {
  padding-right: 70px;
  font-size: 1.2em;
  font-weight: 700;
}
          /* root */
header{
  min-height: 500px;
  background-color: #1abc9c;
  padding-bottom: 30px;
}

body{
font-family: 'Montserrat', sans-serif;
}

ul li{
  display: inline-block;
}

._black{
  color: #2c3e50;
}

._white{
  color: white;
}

._pad{
  padding:60px 70px;
}


.nc_jumbotron{
  text-align: center;
}

.nc_jumbotron img{
  width: 17em;
  margin-bottom: 20px;
}
    /* regole logo star */

._h-rule{
  display: inline-block;
  width: 100px;
  height: 4px;
  vertical-align: text-top;
  margin: 5px;
}

._h-rule.-w{
  background-color: white;
}

._h-rule.-b{
  background-color: #2c3e50;
}

._star_ i{
  font-size: 30px;
  margin: 10px auto 20px;
  vertical-align: middle;
}

._logo{
  text-align: center;
}

._logo h1,{
  font-size: 4em;
  font-weight: 700;
}

._logo h2{
  font-size: 3em;
  font-weight: 700;
}

._logo ul li{
  font-size: 1.5em;

}

/* portfolio */
.square_img img{
  width: 100%;
  border-radius: 20px;
  margin: 20px;
}

      /* about */
.nc_about{
  background-color: #1abc9c;
}

._download-button{
  padding:20px 10px;
  margin: 20px auto;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}

._download-button a{
  font-size: 1.2em;
  color:white;
}

/* form */
._contatti *:not(#_send){
  display: block;
  width: 100%;
  color: #495057;
  font-size: 1.5em;
  border:1px solid;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: #eee;
  padding: 25px 0;
}

#_send{
  border-style: hidden;
  border-radius: 5px;
  background-color: #1abc9c;
  color:white;
  padding:15px 20px;
  margin-top:20px;
}

footer{
  margin-top: 30px;
  min-height: 150px;
  background-color: #2c3e50;
  color:white;
}

.nc_pie ul li a > i{
  color:white;
  padding: 10px;
  border:1px solid white;
  border-radius:50%;
}

.nc_pie ul li:hover i{
  background-color: white;
  color: #1a252f;
}

.nc_pie{
  text-align: center;
  min-height: 100px;
}

.nc_pie a{
  color: #1abc9c;
}

.nc_cr{
  font-size: 0.5em;
  color: white;
  background-color: #1a252f;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}
