    /* debug */


nav{
  min-height: 50px;
  background-color: blue;
}

header{
  min-height: 500px;
  background-color: green;
}

.bg-warning  {
  min-height: 50px;
}

.bg-info{
    min-height: 200px;
    border: 1px solid black;
}

.nc_jumbotron{
  min-height: 500px;
}

.nc_title{
  height: 100px;
  width: 400px;
  margin: 0 auto;
}
